<div class="invoice_infoBox">
  <div class="invoice_infoRow">Invoice Number: <input class="invoice_inputField" ng-model="invoiceNumber" type="text"> </div>
  <div class="invoice_infoRow">Invoice Date: <input class="invoice_inputField" ng-model="invoiceDate" type="text"> </div>
  <div class="invoice_infoRow">Customer Name: <input class="invoice_inputField" ng-model="invoiceCustomer" type="text"> </div>
</div>
<h3>Products</h3>
<a href='#/products'><button>Add New Product</button></a> 

<div style="height:20px;"></div>
<a href='#'><button>Save Invoice</button></a>
<a href='#'><button>Discard Invoice</button></a>

