<div id="newspaper-b" class="hme_inv">
  <table>
    <tr>
      <th>Invoice #</th>
      <th>Date</th> 
      <th>Customer</th>
      <th></th>
      <th></th>
    </tr>
    <tr ng-repeat="item in invoices">
      <td>{{item.number | minDigits:5}}</td>
      <td>{{item.date}}</td>
      <td>{{item.customer}}</td>
      <td><a href='#/invoice' ng-click="editInvoice(item.number)"><button>Edit</button></a></td>
      <td><a ng-click="deleteInvoice(item.number)"><button>Delete</button></a></td>
    </tr>
  </table>
</div>